// Some degree of overlap with vanilla bootstrap allows inheritence of site vars...
.text-primary {
  color: $primary;
}
.text-light {
  color: $light;
}
.border-primary {
  border-color: $primary;
}
.text-dark {
    color: $dark;
}
.text-black {
    color: black;
}


@each $name, $color in $theme-colors {
    .bg-#{$name} {
        background-color: $color !important;
    }
}
