.dropdown {
    position: relative;
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 110;
        min-width: 300px;
        background-color: white;
        //border: 1px solid $dark;
        &.left {
            right: 0;
            left: unset;
        }
    }
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}
