/* Cols */
@mixin col {
  position: relative;
  width: 100%;
  padding-right: $gutter_size;
  padding-left: $gutter_size;
}

@each $gridSizeKey, $gridWidth in $grid-breakpoints {
  @for $size from 2 through 12 {
    $size_per: calc((100 / 12) * $size) * 1%;
    .col-#{$size} {
      @include col;
    }
    .col-#{$gridSizeKey}-#{$size} {
      @include col;
    }
  }

  @media (min-width: $gridWidth) {
    @for $size from 2 through 12 {
      $size_per: calc((100 / 12) * $size) * 1%;
      .col-#{$gridSizeKey} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-#{$size} {
        @include col;
        flex: 0 0 $size_per;
        max-width: $size_per;
      }
      .col-#{$gridSizeKey}-#{$size} {
        @include col;
        flex: 0 0 $size_per;
        max-width: $size_per;
      }
    }

    .col-#{$gridSizeKey}-auto {
      position: relative;
      flex: 0 1 auto;
      padding-right: $gutter_size;
      padding-left: $gutter_size;
      width: auto;
    }
  }
}

.col-auto {
  position: relative;
  flex: 0 1 auto;
  padding-right: $gutter_size;
  padding-left: $gutter_size;
  width: auto;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  @include col;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Grid Utilities */
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
    justify-content: end;
}

/* Flex Utilities */
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-row {
    flex-direction: row;
}
.flex-row-column {
    flex-direction: column;
}
.flex-row-column-reverse {
    flex-direction: column-reverse;
}
