table {
    border-collapse: collapse;
    &.table {
        width: 100%;
        th {
            text-align: left;
            border-bottom: 1px solid black;
        }
        td, th {
            padding: .25rem;
        }
    }
    &.striped {
        tr:nth-child(even) {
            background-color: #efefef;
        }
    }
}
