// Reset
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

// Imports
@import "functions";
@import "variables";
@import "responsive";
@import "display";
@import "text";
@import "grid";
@import "layout";
@import "utilities";
@import "color";
@import "headings";
@import "tables";
@import "_dropdowns.scss";

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family;
}

img {
    display: block;
}

a.disabled, a[disabled], a[aria-disabled] {
    pointer-events: none;
    color: grey;
}
